body {
  overflow-x: hidden;
  position: relative;
  color: rgba(0,0,0,0.75);  
  padding-top: 10px; /* TODO: add overall padding */
}

h1, h4 {
  text-align: center;
  color:  rgba(0,0,0,0.75);  
}

/* no data */
.no-data {
  text-align: center;
  height: 300px;
  display: grid;
  place-items: center;
}

.no-data > img {
  padding: 10px;
}

.no-data > p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0,0,0,0.50);  
}

/* drawer */
.drag-up-button {
  box-shadow: -30px -10px 10px -16px rgba(0,0,0,0.75), 30px -10px 10px -16px rgba(0,0,0,0.75);
  border-radius: 8px 8px 0px 0px;
  background: white;
  bottom: 0px;
  padding: 4px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.scroll-button-wrapper {
  padding: 10px;
  text-align: center;
}

.data-entry-menu {
  background: white;
  border-radius: 8px 8px 0px 0px;
  bottom: 0px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
  height: 80vh;
  overflow: scroll;
  position: absolute;
  width: 100vw;
}

.ant-tabs > .ant-tabs-nav {
  padding: 0 15px;
}

/**** data Entry *****/
.data-entry {
  margin: 10px;
}

@media (min-width: 720px){
  .session-input {
    display: flex;
    flex-direction: row;
  }
  
  .session-input > .domain > .input-wrapper {
    display: block;
  }
}

.domain {
  max-width: 375px;
  margin: 0 auto 10px auto;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 7.5px;
}

.input-label {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  margin-right: 10px;
}

.input-input {
  flex: 1;
  width: 150px;
  max-width: 150px;
}

/********** Radio Buttons ********/
.radio-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 720px){
  .radio-buttons {
    display: none;
  }
}

h3 {
  font-weight: 700;
}

/* Modal */
.ant-modal-body {
  padding: 10px;
}

.recharts-polar-radius-axis-tick-value > tspan {
  fill:black;
}

.single-chart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:5px;
  max-height: 500px;
  height: 500px;
}

.single-chart-chart {
  padding: 10px; 
}

.chart { 
  border: 2px solid white;
  max-height: 500px;
  height: 500px;
  display: flex; 
  flex-basis: 1;
  position: relative;
}

.chart-buttons {
  position: absolute;
  z-index: 10;
  margin: auto;
  display: flex;
  bottom: 0px;
  right: 0px;
  justify-content: center;
}

.chart-buttons > button {
  margin: 10px;
}

.custom-chart {
  text-align: center;
  width: 100%;
}