/* .carousel-image {
  width: 100%;
  height: 50%;
} */

body {
  overflow: hidden;
}
.input-wrapper {
  display: flex;
  align-items: center;
  max-width:550px;
  margin: 10px auto;
}

.input-input {
}

.input-label {
  width: 170px;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
}


.data-entry {
  margin: 10px;
}


.ant-modal-body {
  padding: 10px;
}

.recharts-polar-radius-axis-tick-value > tspan {
  fill:black;
}

.chart-wrapper {
  height: 500px;
  border: 2px solid orange;
}

.chart-chart {
  border: 2px solid black;
}


.single-chart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:5px
}

.single-chart-chart {
  padding: 10px;
}

.recharts-wrapper {
  margin: 0 auto;
}

h2 {
  text-align: center;
}
